@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
    border-radius: 0px;
}

.current{
    font-size: 19px;
}

body{
    font-family: 'Source Serif Pro', serif;    
}

.navbar{
    margin: 0px;
    border-radius: 0px;
    background-color: black;
    padding-left: 15px;   
}

img{
    width: 100%;
}

.target-letter{
    color: orange;
}

.jumbotron{
    height: 100vh;
    background-image: url(/images/fullsnack-logo@4x.png);
    background-repeat: no-repeat;
    background-position: 0px 30px ; 
    background-size: contain;
    color:white;
    position: relative;
    z-index: 99;
}

#overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  }

.jumbotron--container{
    text-align: center;
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
}

.jumbotron--container__text{
    padding-top: 150px;
}

.container__text--primary{
    font-family: "Raleway", sans-serif;
    letter-spacing: 20px;
}

.welcome-box{
    padding: 50px;
}

.aboutMe{
    padding: 20px;
}

.btn{
    background-color: transparent;
    margin: 0 10px 0 0;
    color: white;
}

.brief{
    background-color: black;
    padding: 50px;
    color: white;
}

.card{
    
    padding:15px;
}

.page-footer{
    padding:50px;
}
    
.alignMe{
    text-align: center;
}

.container--row{
    margin: 20px 0 20px 0;
    font-size: 2rem;
    padding: 10px;
    
}

.form-control{
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    background-color: transparent;
}

.form-group__label{
    color: white;
}



footer{
    background-color: rgba(00, 00, 00, 1);
}

.footer-copyright{
    color: white;
}


