.welcomeHeading {
    margin: 5% 0;
    font-size: 3em;
    color: #2a8cef;
    text-shadow: 0px 5px 10px greenyellow;
    text-align: center;
}

.blogWelcome {
    margin: 10% 0;
}

.BlogImg {
    margin: 10% 0;
}